@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');


*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color:hsl(185, 75%, 39%)  ;
    background-image: url('images/bg-pattern-top.svg') , url('images/bg-pattern-bottom.svg');

     background-position: -326px  -485px , 692px 313px ;
     background-repeat: no-repeat , no-repeat;
     font-family: 'Kumbh Sans' , 'sans-serif';
    
}
.card
{
    width:340px;
    background-color:white ;
    border-radius: 0.8em;
    margin : 100px auto 30px;
    z-index: 5;
}
.card-header img{
    width: 100%;
    border-top-left-radius: 0.8em;
    border-top-right-radius: 0.8em;
}
.card-body
{
    text-align: center;
}
.profil-img
{
    /*position: relative;*/
    transform: translateY(-37px);
}
.profil-img img
{
    border-radius: 50%;
    box-shadow: 0px 2px 0px 10px white ;

}
header h1
{
    color : hsl(229, 23%, 23%);
    font-family: 'Kumbh Sans' , 'sans-serif';
    font-size: 18px;
    margin-bottom: 12px;
    margin-top: -15px;
}
header span
{
    font-family: 'Kumbh Sans' , 'sans-serif';
    font-weight: 400;
    color:  hsl(0, 0%, 59%);
}
.card-body p
{
    font-family: 'Kumbh Sans' , 'sans-serif';
    font-weight: 400;
    margin-bottom: 23px;
    color:  hsl(0, 0%, 59%);
    font-size:15px;
}

hr{
    opacity: 0.5;
    background-color:  hsl(0, 0%, 59%);
}
.stats
{
    display: flex;
    justify-content: space-between;
    padding: 35px;
    text-align: center;
}
.stats li 
{
    list-style-type: none;
    color:hsl(229, 23%, 23%) ;
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 700;
}
.stats li span 
{
    color :hsl(0, 0%, 59%);
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 1px;
}